.main-wrap{
  position: absolute;
  right: 0;
  left: 400px;
  background-color: #dddddd;
  bottom: 0;
  top: 0;
  overflow: scroll;
  .loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid yellow;
    border-right: 7px solid green;
    border-bottom: 7px solid red;
    border-left: 7px solid orange;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  .frame-wrap{
    width: 100%;
    //height: 4000px;
    max-width: 600px;
    margin: 30px auto;
    //background-color: yellow;
    #search-bar{
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
      #place-search-query{
        width: 60%;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        border: transparent;
        margin-bottom: 10px;
        color: green;
      }
      #place-search-button{

        width: 35%;
        padding: 10px;
        background-color: #2a4954;
        color: white;
        font-size: 20px;
        border: transparent;
        border-radius: 10px;
        &:hover{
          background-color: lighten(#2a4954, 10%);
        }
    }
  }
    .tag{
      color: green;
      font-weight: bolder;
      font-size: 20px;
      margin-left: 10px;
    }
    #navigator{
      display: flex;
      margin: 10px auto;
      button{
        padding: 10px;
        background-color: green;
        color: white;
        border-radius: 7px;
        border: transparent;
        margin-left: 15px;
      }
    }
    .frame{
      width: 100%;
      margin-top: 10px;
      .quakebox{
        margin: 30px 0px;
        width: 100%;
        //height: 140px;
        background-color: white;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        .magnitude{
          width: 140px;
          //height: 140px;
          //background-color: yellow;
          text-align: center;
          line-height: 179px;
          color: white;
          font-size: 60px;
        }
        .details{
          //height: 140px;
          flex-grow: 1;
          padding-top: 20px;
          padding-left: 20px;
          padding-bottom: 20px;
          display: block;
          text-decoration: none;
          color: black;
          @include transition(all 300ms);
          &:hover{
            background-color: darken(white, 20%);
          }
          h2,h5{
            margin-top: 5px;
          }
          h5{
            color: #565656;
          }
          .tsunami{
            //background-color: #009035;
            border-radius: 3px;
            padding: 4px;
            display: inline-block;
            margin-top: 10px;
            text-align: center;
            color: white;
          }
        }
        .map-btn{

          width: 40px;
          background-color: teal;
          @include transition(all 300ms);
          background-image: url(../images/map-icon.png);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          &:hover{
            background-color : lighten(teal, 10%);

          }
        }
      }
    }
  }
}
